.login-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000; 
}

.login-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 25rem; 
    position: relative;
}

.login-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.login-title h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.close-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #666;
    transition: color 0.3s ease;
}

.close-icon:hover {
    color: #333;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.login-inputs input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-inputs input:focus {
    border-color: #ff6f61; 
}


.login-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #39304a;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #6c5b7b;
}

.login-condition {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
}

.login-condition span {
    color:  #39304a;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
}

.login-condition span:hover {
    color:#6c5b7b; 
}