.list {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}
.list-table {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #39304a;
  color: #ffffff;
}

.food-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.CancelOutlinedIcon {
  cursor: pointer;
  color: #ff4d4d;
  transition: color 0.3s ease;
}

.CancelOutlinedIcon:hover {
  color: #cc0000;
}

.remove-item{
  cursor: pointer;
}
@media (max-width: 768px) {
  th, td {
    padding: 8px;
  }

  .food-image {
    width: 40px;
    height: 40px;
  }
}