@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

body{
  min-height: 100vh;
  background-color: antiquewhite;
}

a{
    text-decoration: none;
    color: inherit
}

.content-container{
    display: flex;
    flex-wrap: wrap;
}