body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #39304a;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
  }
  .spinner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0;
      padding: 10px;
    }
  }