.sidebar-container {
  background-color: #ffffff;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar-container .logo{
  padding: 0 20px
}
.sidebarWrapper {
  padding: 20px;
}

.sidebar-option {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  color: #39304a;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sidebar-option:hover {
  background-color: #f0f0f0;
}

.sidebar-option.active {
  background-color: #39304a;
  color: #ffffff;
}

.sidebar-option p {
  margin-left: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebarWrapper {
    display: flex;
    justify-content: space-around;
  }

  .sidebar-option {
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .sidebar-option p {
    margin-left: 0;
    font-size: 14px;
  }
}