.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.header {
  display: flex;
  width: 98%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: url('../../assets/images/backgroundImage.jpg'); 
  background-size: cover;
  background-position: center;
}

.header-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
}

.header p {
  margin: 10px 0 20px;
  font-size: 1.5rem;
}

.cta-button {
  background-color: #39304a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #6c5b7b;
}

.featured-products {
  padding: 40px 20px;
  background-color: #f9f9f9;
}

.featured-products h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  width: 30%;
  min-width: 250px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product h3 {
  margin: 15px 0 10px;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.product p {
  margin: 0 15px 15px;
  color: #555;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1.2rem;
  }

  .product {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .header p {
    font-size: 1rem;
  }

  .product {
    width: 100%;
  }
}