.user-orders {
    padding: 1rem;
  }
  
  .user-orders h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .order-list {
    list-style: none;
    padding: 0;
  }
  
  .order-item {
    border: 1px solid #555;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: 77vw;
  }
  
  .order-item img {
    width: 4rem;
    height: 4rem;
  }
  
  .order-item p {
    color: #555;
  }
  
  .order-item p:first-child {
    font-weight: bold;
    color: #333;
  }

  .customer-details{
    margin-top: 1rem;
  }
  
  .customer-details p {
    margin: 0.25rem 0;
    color: #555;
  }
  
  .order-item select {
    padding: 0.5rem;
    border: 1px solid #555;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #333;
  }
  
  .order-item select:hover {
    background-color: #f5f5f5;
  }
  
  .order-item select:focus {
    outline: none;
    border-color: #333;
  }
  
  .error {
    text-align: center;
    font-size: 18px;
    color: #ff4d4f;
    margin-top: 20px;
  }
  
  .order-button {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .order-button:hover {
    background-color: black;
    color: white;
  }
  
  .loader {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .order-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .order-item img {
      margin-bottom: 1rem;
    }
  
    .order-item select {
      width: 100%;
      margin-top: 1rem;
    }
  }