.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100vw;
}

.main-content {
  flex: 1; 
  padding: 1rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto; 
}

  .cta-button {
    background-color: black; 
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color:transparent; 
    border: 1px solid #fff;
  }
  
  .secondary-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .secondary-button
  :hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }
  .footer {
    padding: 20px;
    background-color: #39304a;
    color: white;
    width: 100%;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .footer nav {
    margin-top: 10px;
  }
  
  .footer nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  