/* General Styles */
.App {
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Header Section */
  
  .cta-button {
    background-color: black; /* Vibrant button color */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color:transparent; 
    border: 1px solid #fff;/* Darker shade on hover */
  }
  
  .secondary-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .secondary-button
  :hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }

  /* Footer Section */
  .footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }